<ion-content padding>
                <ion-text>
                                <h1 class="mytext" style="color: #01379d;margin-top: 45px;"><b> Welcome </b></h1>
                              </ion-text>
        <div class="mylogo">
                <img  src="{{imageUrl}}" class="mypic">
              </div>
          <div>
            <!-- <ion-text>
              <h1 class="mytext1" style="color: #01379d;margin-top: 45px;"> {{company}} </h1>
            </ion-text> -->
          </div>
              <div>
                <img  src="/assets/Softisans_Logo.png" class="mono">
              </div>
              <div>
                  <h6 class="rights">© 2019 All rights are reserved</h6>
                </div>     
</ion-content>
