// ion-header {
//     height: 43px;//by default 56px
//   }
//   ion-toolbar {
//     height: 64px;
//     --background: #5252d1;
//   }
  ion-icon {
    width: 30px; //Preferred size here
    height: 30px;
    color:#ffffff;
  }