
  .my-label3 {
    font-size: 65%;
  }
  a { color: inherit; } 
  ion-footer {
    background-image: none;
    border-radius: 50px !important;
}
.my-label {
  font-size: 80%;
}
.my-label1 {
  font-size: 85%;
} 
.my-label2 {
  font-size: 60%;
}
.my-label3 {
  font-size: 65%;
}
.my-label4 {
  font-size: 85%;
}
ion-toolbar {
  
  --background: #084e1b;
  
}