// .container-outer { overflow: scroll; width: 500px; height: 210px; }
// .container-inner { width: 10000px; }
.container-outer { overflow: scroll; width: 100%; height: 100%; }
.container-inner { width: 120%; }
.datatable-header{ height: 50px !important; display: flex !important; }