ion-toolbar {
    height: 64px;
    --background: #5252d1;
  }

  .loo{

    font-size: 134%;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 82%;
    top: 33%;
}
.icon{
    position: absolute;
    top: 5%;
    left: 85%;
    height: 4%;
    width: 9%
}
.icon1{
    position: absolute;
    top: 5%;
    left: -17%;
    height: 57%;
    width: 42%;
}
