html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 25%; float: left; }
// #div1 { background: #DDD; }
// #div2 { background: #AAA; }
// #div3 { background: #777; }
// #div4 { background: #444; }
// #div5 { background: #d77; }
// #div6 { background: #447; }
ion-card {
    border-radius: 10px;
    background-color: rgb(214, 212, 212);
    height: 96%;
}
ion-icon {
    font-size: 50px; //Preferred size here
  }
 
  ion-item{
    --ion-background-color:rgb(214, 212, 212);
 }
