<ion-content  padding>
    <div class="mylogo">
      <img  src="/assets/logo11.jpg" class="mypic">
    </div>
    <div >
        <ion-text>
        <h1 class="mytext" style="color: #ffffff"> Sign Up </h1>
      </ion-text>
      <ion-text >
        <h4 class ="mytext2" style="color: #ffffff"> An easier way to sign up </h4>
        </ion-text>
  </div>
  <div class="pos">
      <ion-button  class="shadow-blue" shape="round" expand="full" color="primary" (click)="goOn()">Signup with Google</ion-button>
    </div>
    <div class="pos1">
      <ion-button  class="shadow-blue" style="width: 88%;" shape="round" color="light" fill="outline" >I'll use facebook</ion-button>
    </div>
    <div class="foo">
      
          <ion-row>
            <ion-col>
              <a color="#000000" href="/invoice">
                <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </ion-col>
            <ion-col>
                <a color="#000000" href="/invoice">
                  <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </ion-col>
              <ion-col>
                  <a color="#000000" href="/invoice">
                    <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                  </ion-col>
              </ion-row>
              <br>
              <ion-row>
                <ion-col>
                    <ion-text color="#73849a">
                        <!-- <h4 class ="mytext2"><a href="/login">Login to the app</a></h4> -->
                        <h4 class ="mytext2" (click)="loginPage()"><a>Login to the app</a></h4>

                        </ion-text> 
                </ion-col>
              </ion-row>
        </div>
  
  </ion-content>
  
  