.mylogo {
    position:absolute;
    left: 4%;
    right: 0;
    margin:0 auto;
    top:27%;
    transform:translateY(-50%);
    text-align: center;
}
.mypic{

    width: 250px;
    height:250px;
}
.mytext{
    position:absolute;
    left: 4%;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    font-weight: bold;
}
.mytext2{
    position:absolute;
    left: 2%;
    right: 0;
    margin:0 auto;
    top:55%;
    font-size:11px;
    transform:translateY(-50%);
    text-align: center;
}
.pos{
    position: fixed;
    left: 5%;
    bottom: 35%;
    right: 0;
}
.pos1{
    position: fixed;
    left: 11%;
    bottom: 26%;
    right: 0;
    width: inherit;
}
.shadow-blue{
    width: 93%;
    border-radius:34px;
    text-align:center;
}
a {
    text-decoration: none;
   }
   .foo {
    left: 37%;
    top: 87%;
    position: absolute;
   
   
  }
  
 
  ion-icon {
    width: 30px; //Preferred size here
    height: 30px;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(92,89,92,1);
-moz-box-shadow: 5px 5px 5px 0px rgba(92,89,92,1);
box-shadow: 5px 5px 5px 0px rgba(92,89,92,1);
}
ion-content{
    --background: #fff url('/assets/Untitled.png') no-repeat center center / cover;
}
ion-button{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(92,89,92,1);
-moz-box-shadow: 5px 5px 5px 0px rgba(92,89,92,1);
box-shadow: 5px 5px 5px 0px rgba(92,89,92,1);
  }